@use "./color" as *;

body {
  font-family: "Raleway", sans-serif;
  margin: 0;

  display: flex;

  flex-flow: column nowrap;

  min-height: 100vh;
  width: 100%;

  > * {
    width: 100%;
  }

  header {
    .brand {
      font-family: "Great Vibes", cursive;
      font-size: 3rem;
      margin-top: 0.4rem;
    }

    text-align: center;
    height: 4rem;
    background-color: $bg1;
  }

  > div#body {
    flex: 1;

    div {
      margin: 0 0.8rem;
    }
  }

  footer {
    height: 5rem;
    background-color: $bg1;
  }
}
